<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-end">Hola {{usuario}}! <a class="btn btn-danger">Cerrar sessión <i class="fas fa-sign-out-alt"></i></a> </p>   
        </div>
    </div>
</div> 