<main class="holder">
    <div class="contacto">
        <h2>Contacto Rápido</h2>
        <form action="/contacto" method="post" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="nombre" >
            </p>
            <p>
                <label for="">Email</label>
                <input type="text" name="email"  >
            </p>
            <p>
                <label for="">Teléfono</label>
                <input type="text" name="tel" >
            </p>
            <p>
                <label for="">Comentarios</label>
                <textarea name="comentarios"></textarea>
            </p>
            <p class="centrar">
                <input type="submit" value="Enviar">
               
            </p>
        </form>
        <p>{{texto}}</p>
    </div>
    <div class="redes">
        <h2>Otras vias de contacto</h2>
        <p>Tambien pueden contactarse con nosotros usuando los siguientes medios</p>
        <ul>
            <li>Telefono : 12345789</li>
            <li>Facebook: asdasdas</li>
            <li>Twitter: dwsdw</li>
            <li>Instagram: dwsdw</li>
        </ul>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.220099934121!2d-58.422127484466166!3d-34.59859548046081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1633099473543!5m2!1ses-419!2sar"
                width="550" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>

</main>