<main class="holder">
    <div class="homeimg">
        <img src="images/home/img01.jpg" alt="AVION">
    </div>
    <div class="columnas">
        <div class="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cum ducimus illum veritatis provident non
                dignissimos, mollitia eius possimus iste perspiciatis tempora aperiam cumque odit architecto alias
                repudiandae nihil iure.</p>
        </div>
        <div class="testimonios">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente excelente</span>
                <span class="autor">Juan Gomez - zapatos.com</span>
            </div>
        </div>
    </div>
    <!--aca termina columnas-->
</main>
