<main class="holder">
    <div class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum ab recusandae modi culpa, rerum eligendi
            reiciendis cupiditate saepe incidunt pariatur omnis. Magni ad molestias quis rerum. Saepe fuga illo culpa?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odio necessitatibus sint reiciendis
            quibusdam deleniti totam officia, similique beatae facilis deserunt quam! Expedita eaque est assumenda nemo,
            labore illo laudantium.</p>
    </div>
    <div class="staff">
        <h2>Staff</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/nosotros/nosotros1.jpg" alt="">
                <h5>Juan Gomez</h5>
                <h6>Gerente General</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ex dolorem accusantium
                    velit? Cumque autem architecto numquam aut non enim et adipisci, sed aliquam officiis? Vero quaerat
                    minus repellat?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="">
                <h5>Diana Reyes</h5>
                <h6>Gerente Comercial</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ex dolorem accusantium
                    velit? Cumque
                    autem architecto numquam aut non enim et adipisci, sed aliquam officiis? Vero quaerat minus
                    repellat?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="">
                <h5>Roberto Zavala</h5>
                <h6>Gerente de Sistemas</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ex dolorem accusantium
                    velit? Cumque
                    autem architecto numquam aut non enim et adipisci, sed aliquam officiis? Vero quaerat minus
                    repellat?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="">
                <h5>Sandra Mastroloi</h5>
                <h6>Gerente de Marketing</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ex dolorem accusantium
                    velit? Cumque
                    autem architecto numquam aut non enim et adipisci, sed aliquam officiis? Vero quaerat minus
                    repellat?</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="">
                <h5>Luciano Garcia</h5>
                <h6>Gerente de Losgistica</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ex dolorem accusantium
                    velit? Cumque
                    autem architecto numquam aut non enim et adipisci, sed aliquam officiis? Vero quaerat minus
                    repellat?</p>
            </div>
        </div>
    </div>
</main>