<main class="holder">
    <h2>Novedades</h2>
    <div class="novedades">
        <h3>TITULO</h3>
        <h4>SUBTITULO</h4>
        <p>cuerpo de la novedad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt culpa ad, vero
            necessitatibus, a soluta reprehenderit qui, voluptate possimus ipsum voluptates minima commodi molestias
            corporis veritatis eum blanditiis cum? Aliquam!</p>
        <hr />
    </div>
    <div class="novedades">
        <h3>TITULO</h3>
        <h4>SUBTITULO</h4>
        <p>cuerpo de la novedad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt culpa ad, vero
            necessitatibus, a soluta reprehenderit qui, voluptate possimus ipsum voluptates minima commodi molestias
            corporis veritatis eum blanditiis cum? Aliquam!</p>
        <hr>
    </div>
    <div class="novedades">
        <h3>TITULO</h3>
        <h4>SUBTITULO</h4>
        <p>cuerpo de la novedad Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt culpa ad, vero
            necessitatibus, a soluta reprehenderit qui, voluptate possimus ipsum voluptates minima commodi molestias
            corporis veritatis eum blanditiis cum? Aliquam!</p>
        <hr>
    </div>

</main>